<article class="listing">
  <img src="{{venue.image}}" alt="">
  <a><h4>{{venue.title}}</h4></a>
  <div>
    <div>{{venue.address}}</div> 
    <div>{{venue.email}}</div> 
    <div>{{venue.phone}}</div> 
  </div>
</article>